body {
  font-family: inherit;
}

#title {
  background-color: lightblue;

}

.container-fluid {
  padding: 3% 15%;

}

.navbar{
  padding-bottom: 4.5rem;
}
.nav-link{
  padding-left: 2.4rem;
  font-weight: bold;
  color: #000;
}
.img{
  width: 70%;
  padding-left: 30%;


}
h1 {
  font-size: 60px;
  font-family: inherit;
  font-family: bold;
}

.navbar-brand {
  font-family: sans-serif;
  font-weight: bold;
  color: red;
}
#press{
  background-color: lightblue;
  text-align: center;

}

#navbarTogglerDemo02 {
  font-weight: bolder;
  color: #fff;
}
#features{
 background-color: #fff;
  text-align: center;
  margin: 7% 15%;
  position: relative;
  z-index: 1;

}
.carousel-item{
    padding: 7% 15%;
}
#testimonials{

  background-color: lightblue;
  text-align: center;
  font-family: inherit;
  line-height: 1.5;
}
.img1{
  margin-top: 15px;
  width: 20%;
  border-radius: 100%
}
.pressimg{
  padding-bottom: 7%;
  width: 15%;
  margin: 20px 20px 30px;
}
#pricing{
  text-align: center;
  padding-top: 5%;
}
.row{
  padding: 5%;
}
@@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .img{

    transform: rotate(0);
  }
}
#cta{
  background-color: lightblue;
  font-family: inherit;
  padding: 7%;
  text-align: center;
  size:bold;
}
